body{
	text-align:center;
	font-size: 18px;
	color:#000;
	font-family: "ＭＳ ゴシック",sans-serif;
	 margin: 0 auto;
      padding: 0;
      overflow-x: hidden;
	background-color: #000000;
	
}


div{
	text-align:center;
	margin:0 auto;
}
p{
	text-align: left;
	max-width: 800px;
	margin: 10px;
}
.scrollable-box{
	background: #000;
	width: 100%;
	padding: 20px 0px;
}
.scrollable-text {
  width: 80%; /* ボックスの幅 */
  height: 150px; /* ボックスの高さ */
  overflow: auto; /* 自動でスクロールバーを表示 */
	background-color: #FFFFFF;
  border: 1px solid black; /* 枠線を追加 */
	text-align: left;
	font-size: 14px;
}

.my-checkbox {
  display: block;
  position: relative;
  margin: 1em 0;
  padding-left: 28px;
  cursor: pointer;
  user-select: none; /* テキストの選択を防ぐ */
	font-size: 0.8em;
	color: #FFF;
	
}
.youtube {
  width: 100%;
  aspect-ratio: 16 / 9;
	padding: 10px;
}
.youtube iframe {
  width: 100%;
  height: 100%;
}
.wrapper{
	margin: 0 auto;
      padding: 0;
      overflow-x: hidden;
		max-width: 900px;
	 border: 2px solid #;
}
#voice
{margin: 0 auto;
      padding: 0;
      overflow-x: hidden;
		max-width: 900px;
	background-color: #fffef2;
}

.rogo{
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px 0 5px 3px;
	width: 157px;
}
.rogo img{
	width: 90%;
	height: auto;
}
.fix_menu{
	position: fixed;
	width: 100%;
	max-width: 1200px;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 999;
	padding: 30px 0;
}
#navwrap{
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px 30px 15px 0;
}
.header_menu{
	display: flex;
}
ul,li{
	list-style: none;
	margin: 0;
}
.button-cont-three{
    font-size: 40px;
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
}
.button {
  display: flex;
  justify-content: center;
}
.header_menu li a{
	cursor: pointer;
	padding: 0 10px;
	text-decoration: none;
	color: #FFF;
}
#switch{
	display: none;
}
.main p{
	padding: 500px 0;
	text-align: center;
}
@media screen and (max-width:768px) {
	#switch ~ label {
		padding: 12px 12px;
		width: 60px;
		height: 60px;
		background: #333;
		position: fixed;
		box-sizing: border-box;
		top: 0;
		right: 0;
		z-index: 999;
		cursor: pointer;
	}
	#switch ~ label span{
		display: block;
		width:22px;
		height:2px;
		top: 50%;
		left: 0;
		right: 0;
		margin:auto;
		background: #fff;
		position: absolute;
		-webkit-transition: 0.2s transform;
		transition: 0.2s transform;
	}
	#switch ~ label span:before,
	#switch ~ label span:after{
		content: "";
		display: block;
		background: #fff;
		position: absolute;
		width:22px;
		height:2px;
		left: 0;
		right: 0;
		margin: auto;
	}
	#switch ~ label span:before{
		top: -9px;
	}
	#switch ~ label span:after{
		top: 9px;
	}
	#navwrap{
		padding-top: 0;
		position: fixed;
		top: -100%;
		left: 0;
		width: calc(100% - 60px);
		height: 100%;
		background: rgba(0,0,0,0.8);
		transition: all 0.4s;
		padding: 60px;
		box-sizing: border-box;
	}
	#switch:checked ~ #navwrap { 
		display: block; 
		top: 0;
	}
	.header_menu{
		display: flex;
		flex-direction: column;
	}
	.header_menu li{
		margin: 0 auto 30px;
	}
	.header_menu li a{
		color: #fff;
	}
	.scroll-prevent {
		position: fixed;
		z-index: -1;
		width: 100%;
		height: 100%;
	}
}

header{
  width: 100%;
　　height: auto;
	text-align:center;
	background-color: #46B4CD;
}
h2 {
	font-size: 36px;
	margin: 20px;
}
header img {
   width: 100%;
　　height: auto;
	text-align:center;
}
header table td, header table th {
  
    vertical-align: middle;
}

.cp_qa2 *, .cp_qa2 *:after, .cp_qa2 *:before {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.cp_qa2 .cp_actab2 {
	position: relative;
	overflow: hidden;
	width: 100%;
	
}
.cp_qa2 .cp_actab2 input {
	position: absolute;
	opacity: 0;
}
/* 質問 */
.cp_qa2 .cp_actab2 label {
	font-weight: bold;
	line-height: 1.6;
	position: relative;
	display: block;
	margin: 0 0 0 0;
	cursor: pointer;
	
}
.cp_qa2 .cp_actab2 label:hover {
	color: #00838F;
}
/* 答え */
.cp_qa2 .cp_actab2 .cp_actab-content2 {
	overflow: hidden;
	max-height: 0;
	-webkit-transition: max-height 0.5s ease;
	        transition: max-height 0.5s ease;
	
	
}


/* --答えの高さ */
.cp_qa2 .cp_actab2 input:checked ~ .cp_actab-content2 {
	max-height: 60em;
}
/* 質問をクリックした時のアイコンの動き */
.cp_qa2 .cp_actab2 label::after {
	line-height: 1.6;
	position: absolute;
	top: 55%;
	right: 0;
	display: block;
	width: 3em;
	margin-top: -12.5px;
	-webkit-transition: all 0.5s ease;
	        transition: all 0.5s ease;
	text-align: center;
}
.cp_qa2 .cp_actab2 input[type=checkbox] + label::after {
	
}
.cp_qa2 .cp_actab2 input[type=checkbox]:checked + label::after {
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

.cp_qa *, .cp_qa *:after, .cp_qa *:before {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.cp_qa .cp_actab {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin-bottom: 1px;
	color: #1b2538;
}
.cp_qa .cp_actab input {
	position: absolute;
	opacity: 0;
}
/* 質問 */
.cp_qa .cp_actab label {
	font-weight: bold;
	line-height: 1.6;
	position: relative;
	display: block;
	margin: 0 0 0 0;
	cursor: pointer;
	
}
.cp_qa .cp_actab label:hover {
	color: #00838F;
}
/* 答え */
.cp_qa .cp_actab .cp_actab-content {
	overflow: hidden;
	max-height: 0;
	-webkit-transition: max-height 0.5s ease;
	        transition: max-height 0.5s ease;
	color: #ffffff;
	
}
.cp_qa .cp_actab .cp_actab-content p {
	
}
/* 質問を開いた時の仕様 */
/* --アイコン */
.cp_qa .cp_actab input:checked ~ label {
	
}
/* --答えの高さ */
.cp_qa .cp_actab input:checked ~ .cp_actab-content {
	max-height: 80em;
}
/* 質問をクリックした時のアイコンの動き */
.cp_qa .cp_actab label::after {
	line-height: 1.6;
	position: absolute;
	top: 55%;
	right: 0;
	display: block;
	width: 3em;
	margin-top: -12.5px;
	-webkit-transition: all 0.5s ease;
	        transition: all 0.5s ease;
	text-align: center;
}
.cp_qa .cp_actab input[type=checkbox] + label::after {
	content: '＋';
}
.cp_qa .cp_actab input[type=checkbox]:checked + label::after {
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
}	
.cont-three{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
.wrap-three{
    position: relative;
    display: flex;
    transition: 1s;
    right: 0;
}
.items-three,
.items-three img{
    width: 100%;
}

.inner_wrapper{
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	background-color:#fff;
}
.box
	{
	width: 800%;
	max-width: 800px;
	margin: 0 auto;
	background-color:#fff;
}
._PrivacyPolicyPart__title{
	
	padding: 10px ;
	background:#1B82F1;
	color:#FFFFFF;
}
._PrivacyPolicyPart {
	
	margin: 10px;
	text-align: left;
}
._PrivacyPolicyPart__description  {
	
	margin: 10px;
	text-align: left;
}
._OfficeOutline{
	
	margin: 10px;
	
}
._PrivacyPolicyPart__orderedList {
	
	
	margin: 10px;
	text-align: left;

}
._OfficeOutline__content{
	
	margin: 10px;
	line-height: 1.4;
}
#office-outline
{
	margin: 10px;
	background:#023756;
	color:#FFFFFF;
	line-height:1.6;
}
._JointManagement{
	
	margin: 10px;
	line-height: 1.4;
}
._JointManagement__office
{
	background:#FFFDEB;
	margin: 20px;
	padding: 10px;
}
/*common*/
 .headline {
      font-size: 36px;
      font-weight: bold;
      color: white;
      margin-bottom: 10px;
    }

    .countdown-container {
      color: #F60206;
      padding: 100px 0px 0px 0px;
      font-size: 60px;
      font-weight: bold;
      display: inline-block;
      position: relative;
		width: 100%;
		height: 120px;
		background-image:url("../images/head_time_01.jpg");
background-repeat: no-repeat;
}
		
    }

    .countdown-container span {
      margin: 0 4px;
    }

    .countdown-label {
      font-size: 20px;
      color: white;
      margin-top: 5px;
		
    }

    
    
    .countdown-container span {
      margin: 0 4px;
    }
    .popup {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.7);
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }
    .popup-content {
      background: white;
      padding: 30px;
      border-radius: 12px;
      text-align: center;
      max-width: 90%;
    }
    .popup-content img {
      width: 800px;
      max-width: 100%;
      height: auto;
    }
    .close-btn {
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 40px;
      border: none;
      background: #cc0000;
      color: white;
      border-radius: 6px;
      cursor: pointer;
    }
#minutes{
	 font-size: 6rem;
	letter-spacing:-0.05em;
}
#seconds{
	 font-size: 6rem;
	letter-spacing:-0.05em;
}
#ms{
	 font-size: 6rem;
	letter-spacing:-0.05em;
}

div.bg img{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	vertical-align: bottom;
}

.scroll-up {
  opacity: 0; 
  visibility: hidden;
  transform: translateY(50px);
  transition: all 1s;
}
.scroll-up.is-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

@keyframes infinity-scroll-left {
	from {
	  transform: translateX(0);
	}
	  to {
	  transform: translateX(-100%);
	}
	}
	.scroll-infinity__wrap {
	  display: flex;
	  overflow: hidden;
	}
	.scroll-infinity__list {
	  display: flex;
	  list-style: none;
	  padding: 0
	}
	.scroll-infinity__list--left {
	  animation: infinity-scroll-left 50s infinite linear  0.8s both;
	}
	.scroll-infinity__item {
	  width: calc(100vw /  1);
	}
	.scroll-infinity__item>img {
	  width: 100%;
	}


/* 16px @ 360px increasing to 24px @ 1000px */
@media (min-width: 360px) {
  .ts {
    font-size: calc(1rem + ((1vw - 3.6px) * 1.25));
    /* Where: * 1.25 = 100 * font_Size_Difference / viewport_Width_Difference */
  }
}
/* Prevent font scaling beyond this breakpoint */
@media (min-width: 800px) {
  .ts {
    font-size: 20px;
  }
}
/*common*/



.bg{
	width:100%;
	max-width: 1000px;
	text-align:center;
	margin:0 auto;
	background-position:top;
	background-repeat:no-repeat;
	background-size:cover;
}
.main{ background-image:url(../images/bg/bg_main.jpg);}
.bg_form01{ background-image:url(../images/bg/bg_form01.jpg);}
.bg_conte01{ background-image:url(../images/bg/bg_conte01.jpg);}
.bg_conte02{ background-image:url(../images/bg/bg_conte02.jpg);}
.bg_conte03{ background-image:url(../images/bg/bg_conte03.jpg);}
.bg_conte04{ background-image:url(../images/bg/bg_conte04.jpg);}
.bg_conte05{ background-image:url(../images/bg/bg_conte05.jpg);}
.bg_conte06{ background-image:url(../images/bg/bg_conte06.jpg);}
.bg_conte07{ background-image:url(../images/bg/bg_conte07.jpg);}
.bg_conte08{ background-image:url(../images/bg/bg_conte08.jpg);}
.bg_conte09{ background-image:url(../images/bg/bg_conte09.jpg);}
.bg_conte10{ background-image:url(../images/bg/bg_conte10.jpg);}
.bg_conte11{ background-image:url(../images/bg/bg_conte11.jpg);}
.bg_conte12{ background-image:url(../images/bg/bg_conte12.jpg);}
.bg_conte13{ background-image:url(../images/bg/bg_conte13.jpg);}
.bg_conte14{ background-image:url(../images/bg/bg_conte14.jpg);}
.bg_conte15{ background-image:url(../images/bg/bg_conte15.jpg);}
.bg_conte16{ background-image:url(../images/bg/bg_conte16.jpg);}
.bg_conte17{ background-image:url(../images/bg/bg_conte17.jpg);}
.bg_conte18{ background-image:url(../images/bg/bg_conte18.jpg);}
.bg_form1_01{ background-image:url(../images/bg/bg_form1_01.jpg);}
.bg_form1_02{ background-image:url(../images/bg/bg_form1_02.jpg);}
.bg_form1_03{ background-image:url(../images/bg/bg_form1_03.jpg);}
.bg_form2_01{ background-image:url(../images/bg/bg_form2_01.jpg);}
.bg_form2_02{ background-image:url(../images/bg/bg_form2_02.jpg);}
.bg_form2_03{ background-image:url(../images/bg/bg_form2_03.jpg);}
.bg_form3_01{ background-image:url(../images/bg/bg_form3_01.jpg);}
.bg_form3_02{ background-image:url(../images/bg/bg_form3_02.jpg);}
.bg_form3_03{ background-image:url(../images/bg/bg_form3_03.jpg);}
.bg_form1_02,.bg_form2_02,.bg_form3_02{position: relative;}
.btn1,.btn2,.btn3{
	position: absolute;
	width: 1000px;
	right: 0;
	left: 0;
}
.btn:hover{
	opacity: 0.8;
}

.btn1 img,.btn2 img,.btn3 img{
	width: 100%;
	max-width: 818px;
	margin: 0 auto;
}
.btn01 {
	animation: tateyure 3s ease 0.6s forwards infinite;
	transition: transform 0.6s;
	width:1000px;
	background-color:#eff9ff;
}
.btn02 {
	animation: tateyure 3s ease 0.6s forwards infinite;
	transition: transform 0.6s;
	width:1000px;
	background-color:#176796;
}
.btn03 {
	animation: tateyure 3s ease 0.6s forwards infinite;
	transition: transform 0.6s;
	width:1000px;
	background-color:#fff;
}
.btn_back01 {
	background-color:#eff9ff;
	width:1000px;
}
.btn_back02 {
	background-color:#176796;
	width:1000px;
}
.btn_back03 {
	background-color:#fff;
	width:1000px;
}
.btn00 {
	animation: tateyure 3s ease 0.6s forwards infinite;
	transition: transform 0.6s;
	width:1000px;
}
.header00
{
position: sticky;
top: 0;
z-index: 1;
}
@keyframes tateyure {
	90% {
	transform: translateY(0);
	}
	93% {
	transform: translateY(-20px);
	}
	96% {
	transform: translateY(10px);
	}
	100% {
	transform: translateY(0);
	}
}


/*======================
 footer
======================*/

#footer {
	text-align:center;
	margin:0 auto;
	font-size:12px;
	padding:40px 0px;
	background-color: #f9f9f9;

}
#footer div{
	margin-bottom: 20px;
	}
#footer a{
	color:#20201f;
	text-decoration: none;
}
#footer a:hover{
	text-decoration: underline;
	}
address {
	text-align:center;
	margin:0 auto;
	font-size:10px;
	color:#20201f;
}
#footer ul {
	text-align:center;
	margin:0 auto;
}
#footer ul li {
	display:inline;
	line-height:20px;
}
.img-pc {
      display: block;
    }
    .img-sp {
      display: none;
    }

    @media screen and (max-width: 767px) {
      .img-pc {
        display: none;
      }
      .img-sp {
        display: block;
      }
    }
@media screen and (max-width: 767px) {
      .cont-three {
		  max-width: 800px;
		   }
      .button {
  display:block;
  justify-content: center;
}
    }
		  
    img {
      max-width: 100%;
      height: auto;
    }

